<div class="container">
  <div id="picturA" class="col-ls-4">
     <h1> Fassih Baaj</h1>
   </div>
   <div>
      <h1><p class="text-center"> Fassih Baaj CV </p></h1>
   </div>

  <div id=picturB class="col-lg-12">
    <div class="col-lg-6">
       <img src="/assets/fassih.jpg" alt="/assets/fassih.jpg" class="img-thumbnail fassih">
     </div>
     <div id="pictur1" class="col-lg-6">
       <ul>

         <li><a href="#pictur1">Personal Details</a></li>
         <br>
         <li><a href="#pictur2">Objective</a></li>
         <br>
         <li><a href="#pictur3">Skills and Languages</a></li>
         <br>
         <li><a href="#pictur4">Education And Training</a></li>
         <br>
         <li><a href="#pictur5">Professional Experience</a></li>
         <i class="fa fa-facebook" aria-hidden="true"></i>



      </ul>

     </div>
</div>
<div>
  <h1>
    <div id="pictur1">
    </div>
    Personal Details
  </h1>
  <ul>
    <li>   Given Name : Fassih </li>
    <li>   Family Name : Baaj</li>
    <li>   Date of Birth : 30.10.1980</li>
    <li>   Nationality : syrian</li>
    <li>   Marital Status : single</li>
    <li>   Driving License : intarnational</li>
    <li>   Address : Berlin Attila strasa</li>
    <li><a href="tel:004915217961390">tel:004915217961390</a></li>

    <li>   <a href="mailto:fassihbaaj@hotmail.com">E mail : Fassihbaaj@hotmail.com</a></li>
  </ul>
</div>
<div>
  <h1>
    <div id="pictur2">
    </div>
    Objective :
  </h2>
<p>
To seek a position with a reputable firm where I can put into it the vast information. I have acquired from my wide work experience
</p>
</div>
<div>
  <div id="pictur3">
  </div>
  <h1>Skills and Languages:
  </h1>

<li> Microsoft excel </li>
<li> Microsoft Word </li>
<li> Microsoft PowerPoint </li>
<li> Cisco </li>
<li> Hardware </li>
<li> Mother Tongue Arabic Language </li>
<li> Intermediate English Language </li>
</div>
<div>
  <div id="pictur4">
  </div>
  <h1>Education And Training</h1>

<li> Diploma in electronic and automatic control Aleppo Syria University 2000. </ls>
<li> High School Syria1997-1998 </ls>
<li> CCNA course </ls>
<li> ICDL Training </ls>
<li> Workshop of Business Communication </ls>
<li> Seminar of IT and Automation in Banking </ls>
</div>
<div id="pictur5">
</div>
  <h1> Professional Experience:</h1>

<h3>Work as PRO in Professional World for Sport Equipment (Dubai) 2013 - Present</h3>

* Import, export, and clearing sport equipment.

* Follow up document with Dubai Custom

<h3>Work as a clearing executive in Central Bank of Syria 2009 – Jan 2013 Responsible for:</h3>

* Process all outward clearing cheques between the banks and ensure the banks account is reconciled daily.

* Submit daily outward cheques to Head Office

* Make copies of all daily outward clearing cheques and keep a file for them.

* Maintaining a register of returned cheques.

<h3>Work as a Maintenance supervisor in Central Bank of Syria 2003 – Jan 2013 Responsible for:</h3>

* Follow up electrical and mechanical equipment’s (lefts – lighting – Money counting machines – Central AC – Security system)

* Handling maintenance contracts

· Purchases printed materials and forms by obtaining requirements; negotiating price, quality, and delivery.

· Investigating and solving customers' problems, which may be complex or long-standing problems that have been passed on by customer service assistants
<div>
   <p class="text-lowercase">Lowercased text.</p>
   <p class="text-uppercase">Uppercased text.</p>
   <p class="text-capitalize">Capitalized text.</p>
</div>
<div id="pictur1" class="col-lg-6">
   <img src="/assets/fassih.jpg" class="img-responsive"></img>
 </div>
 <div id="pictur2" class="col-lg-6">
  <img src=hhhh class="img-responsive"></img>
</div>
  <ul class="nav navbar-nav">
    <div id="pictur2">
    <li><a href="#">water pumps</a></li>
    <li><a href="#">foosubmersible pumps</a></li>
    <li><a href="#">food pumps</a></li>
    <li><a href="#">Vertical pumps</a></li>
    <li><a href="#">Vertical pumps</a></li>
</ul>
</div>
<div id="bateka" class="col-lg-12"
<img src="food-pumps.jpg" alt="food-pumps.jpg" class="img-rounded">
</div>
<div class="col-xs-12">
  <h2>Deir Ezzor</h2>
</div>
<div id="pictur1" class="col-lg-6">
   <img src="/assets/end-suction-pump.jpg" class="img-responsive"></img>
 </div>
 <div id="pictur2" class="col-lg-6">
  <img src="/assets/hh.jpg" class="img-responsive"></img>
</div>
</div>
